{:paths ["src" "resources" "config"]
 :deps {com.taoensso/carmine {:mvn/version "2.18.1"}
        org.mindrot/jbcrypt {:mvn/version "0.4"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring/ring-anti-forgery {:mvn/version "1.3.0"}
        ring-middleware-format {:mvn/version "0.7.2"}
        conman {:mvn/version "0.7.4"}
        crypto-random {:mvn/version "1.2.0"}
        selmer {:mvn/version "1.11.8"}
        failjure {:mvn/version "1.3.0"}
        digest {:mvn/version "1.4.8"}}

 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {defunkt/revolt {:mvn/version "1.3.1"}
                              defunkt/revolt-catapulte-task {:mvn/version "0.1.3"}
                              defunkt/revolt-flyway-task {:mvn/version "0.2.0"}

                              ;; required for built-in dev server
                              compojure {:mvn/version "1.6.1"}
                              http-kit {:mvn/version "2.3.0"}
                              cprop {:mvn/version "0.1.11"}
                              mount {:mvn/version "0.1.12"}

                              midje {:mvn/version "1.9.2"}
                              peridot {:mvn/version "0.5.1"}

                              ;; db JDBC drivers
                              com.h2database/h2 {:mvn/version "1.4.197"}
                              mysql/mysql-connector-java {:mvn/version "8.0.11"}
                              org.postgresql/postgresql {:mvn/version "42.2.4"}
                              com.github.kstyrc/embedded-redis {:mvn/version "0.6"}}}

           ;; dependencies for nrepl
           :repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.0-beta8"}
                               refactor-nrepl {:mvn/version "2.4.0"}}
                  :main-opts  ["-m" "revolt.bootstrap"
                               "-c" "revolt.edn"]}

           :test-once {:main-opts ["-m" "cerber.test-runner"]}}}
