{:landing-url "http://localhost"
 :realm       "http://localhost"
 :scopes      #{}
 :authcodes   {:store :in-memory :valid-for 600}
 :sessions    {:store :in-memory :valid-for 600}
 :tokens      {:store :in-memory :valid-for 600}
 :users       {:store :in-memory}
 :clients     {:store :in-memory}
 :endpoints   {:authentication "/login"
               :client-approve "/approve"
               :client-refuse  "/refuse"}

 ;; default scope to role/permissions mapping
 :scope->roles "client/default"
 :scope->permisssions #{}}
