{:server  {:port 8090}

 :landing-url "http://localhost:8090/"

 :clients [{:id "KEJ57AVGDWJA4YSEUBX3H3M2RBW53WLA"
            :secret "BOQUIIPBU5LDJ5BBZMZQYZZK2KTLHLBS"
            :info "Default client"
            :redirects ["http://cerber.test:8090"]
            :grants ["authorization_code" "password"]
            :scopes ["photos:read" "photos:write"]
            :approved? false}]

 :users   [{:login "foo"
            :email "foo@bar.com"
            :name "Foo Bar"
            :enabled? true
            :password "pass"}]}
