{:server {:host "localhost" :port 8090}
 :cerber {:redis-spec {:spec {:host "localhost" :port 6379}}
          :jdbc-pool  {:init-size  1
                       :min-idle   1
                       :max-idle   4
                       :max-active 32
                       :driver-class "org.h2.Driver"
                       :jdbc-url "jdbc:h2:mem:testdb;MODE=MySQL;INIT=RUNSCRIPT FROM 'classpath:/db/schema.sql'"}
          :authcodes  {:store :in-memory :valid-for 180}
          :sessions   {:store :in-memory :valid-for 180}
          :tokens     {:store :in-memory :valid-for 180}
          :clients    {:store :in-memory}
          :users      {:store :in-memory}
          :landing-url "http://localhost/"}}
