<html>
    <body>
        <div>
            <form method="post" action="/approve?{{query-params}}">
                <fieldset>
                    {{ csrf|safe }}

                    <p>
                        Client <em>{{ client.info }}</em> wants to access your resources:

                        <ul>
                        {% for scope in client.scopes %}
                            <li>{{ scope }}</li>
                        {% endfor %}
                        </ul>

                        Should authorize?
                    </p>

                    <div>
                        <button type="submit">Authorize</button>
                        <a href="/refuse?{{query-params}}"> refuse </a>
                    </div>

                </fieldset>
            </form>
        </div>
    </body>
</html>
