<html>
    <body>
        <div>
            <form method="post" action="/login">
                <fieldset>
                    {{ csrf|safe }}

                    {% if failed? %} failed {% endif %}

                    <div>
                        <label for="username">User name</label>
                        <input name="username" type="text" placeholder="Username" autofocus>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input name="password" type="password" placeholder="Password">
                    </div>

                    <div>
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
